<%- include('../../shared/includes/head', { pageTitle: 'Payment Successful' }) %>
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Order was Successful</h1>
  </main>
<%- include('../../shared/includes/footer') %>